@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Libre Baskerville, sans-serif;
color: black;
}

/* logo and headings */

h1, h2 {
    font-family: Source Sans Pro, sans-serif;
    letter-spacing: 3px;
    color: black;
}

#logo-main {
    float: left;
    font-size: 270%;
    
}

#navigation {
  flex-direction: row;
  list-style-type: none;
}

#navigation li {
    float: right;
    margin: 0 1rem;
    list-style-type: none;
    padding-top: 2%;
}

#navigation a {
text-decoration: none;
color: black;
}

#logo-main, #navigation {
    line-height: 100%;
}

#navigation a:hover  {
   border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/herbs.jpg');
    overflow: hidden;

}