@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Libre Baskerville, sans-serif;
    color: black;
    font-weight: 300;
    min-height: 100%;
}

/* logo and headings */

h1, h2, h3 {
    font-family: Source Sans Pro, sans-serif;
    letter-spacing: 3px;
    color: black;
}

#logo-main {
    float: left;
    font-size: 270%;
    margin-left: 2%;
    
}

#navigation {
  flex-direction: row;
  list-style-type: none;
}

#navigation li {
    float: right;
    margin: 0 1rem;
    list-style-type: none;
    padding-top: 2%;
}

#navigation a {
text-decoration: none;
color: black;
}

#logo-main, #navigation {
    line-height: 100%;
}

#navigation a:hover  {
   border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

#hero-image {
    height: 400px;
    width: 100%;
    background: url('../images/herbs.jpg') no-repeat center center;
    overflow: hidden;

}

#botanicals {
   width: 100%;
   display: inline-block;
}

h2 {
    text-align: center;
    margin-top: 2%;
    font-size: 200%;
    margin-bottom: 4%;
}

#main {
    text-align: left;
    padding: 2%;
    margin: 1%;
}

button {
 background-color: black;
 color: white;
 margin: 10px 0;
 padding: 12px 28px;
 font-size: 15px;
 display: inline-block;
 border-radius: 8px;
}


#names {
    text-align: center;
   
}

p {
    letter-spacing: 2px;
    font-size: 100%;
}


.column1of3, .column2of3, .column3of3 {
width:31%;
margin: quto 5px;
padding: 10px;
display:inline-block;
align-items: center;
border-right:groove;
border-color: rgb(177, 207, 207);
height: 70%;
background: url('../images/background2.jpeg') no-repeat center center;
overflow: hidden;
}

.additional-one {
    float: left;
    margin-top: 15%;
    font-size: 10px;
}

.additional-two {
    float: left;
    margin-top: 8%;
    font-size: 10px;
}

.additional-three {
    float: left;
    margin-top: 15%;
    font-size: 10px;
}

h3 {
   padding: 10%; 
   line-height: 150%;
   text-align: center;
   text-transform: capitalize;
   font-weight: 700;
}

/* vote form */

form {
        text-align: center;
        padding: 5%;
        line-height: 50px;
}

.submit {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    display: inline-block;
    width: 100px;
    text-align: center;
  }

 /* footer */

 footer {
    width: 100%;
    display: inline-block;
    background-color: #c9e0d9;
 }

 .social-media {
     text-align: center;
 }

 .social-media > li {
     display: inline;
 }

 .social-media i {
     font-size: 100%;
     margin: 1%;
     padding: 5%;
     color: black;
 }

 .subscribe {
     background-color: transparent;
     color: black;
     border: 1px solid black;
     border-radius: 8px;
     display: inline-block;
     width: 200px;
     text-align: center;
   }

 form {
    text-align: center;
    padding: 5%;
}

/* recipes */

h4 {
    margin: 2%;
}
.content {
    float: right;
   margin: 5%;
   line-height: 150%;
}

img {
  display: inline;
  margin: 5%;
}