@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Libre Baskerville, sans-serif;
    color: black;
}

/* logo and headings */

h1, h2, h3 {
    font-family: Source Sans Pro, sans-serif;
    letter-spacing: 3px;
    color: black;
}

#logo-main {
    float: left;
    font-size: 270%;
    margin-left: 2%;
    
}

#navigation {
  flex-direction: row;
  list-style-type: none;
}

#navigation li {
    float: right;
    margin: 0 1rem;
    list-style-type: none;
    padding-top: 2%;
}

#navigation a {
text-decoration: none;
color: black;
}

#logo-main, #navigation {
    line-height: 100%;
}

#navigation a:hover  {
   border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

#hero-image {
    height: 400px;
    width: 100%;
    background: url('../images/herbs.jpg') no-repeat center center;
    overflow: hidden;

}

#botanicals {
    height: 600px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-top: 2%;
    font-size: 200%;
    margin-bottom: 4%;
}

#main {
    text-align: left;
    padding: 2%;
    margin: 1%;
}

input {
 background-color: black;
 color: white;
 margin: 10px 0;
 padding: 0.5%;
}

#names {
    text-align: center;
   
}

p {
    letter-spacing: 2px;
    font-size: 100%;
}


.column1of3, .column2of3, .column3of3 {
    width:25%;
   float: left;
    margin: 10px; 
    padding-right: 5%;
    border-right:groove;
    border-color: rgb(177, 207, 207);
    height: 70%;
    background: url('../images/herbtwo.jpg') no-repeat center center;
    overflow: hidden;
}

.additional-one {
    float:left;
    margin-top: 15%;
    font-size: 10px;
}

.additional-two {
    float: left;
    margin-top: 8%;
    font-size: 10px;
}

.additional-three {
    float: left;
    margin-top: 15%;
    font-size: 10px;
}

h3 {
   padding: 10%; 
   line-height: 150%;
   text-align: center;
   text-transform: capitalize;
   font-weight: 700;
}

 /* footer */

 footer {
    height: 300px;
    background-color: #a5d1c3;
    width: 100%
 }

 .social-media {
     text-align: center;
 }

 .social-media > li {
     display: inline;
 }

 .social-media i {
     font-size: 100%;
     margin: 1%;
     padding: 5%;
     color: black;
 }